

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeatherInfo</title>
</head>
<body>
    <h1>Weather Info Page</h1>
    <h2>Demo Controller</h2>
</body>
</html>
